@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?m16dkk');
  src:  url('fonts/icomoon.eot?m16dkk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?m16dkk') format('truetype'),
    url('fonts/icomoon.woff?m16dkk') format('woff'),
    url('fonts/icomoon.svg?m16dkk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fa-"], [class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-bluesky:before {
  content: "\e900";
}
.fa-threads:before {
  content: "\e901";
}
.fa-x-twitter:before {
  content: "\e902";
}
